{% extends 'base.html.twig' %}

{% block title %}CreateTask{% endblock %}

{% block body %}
<div>
    <div class="createstyle">
        {{ form_start(form) }}
            {{ form_widget(form.name) }}
            {{ form_widget(form.message) }}
        <button type="submit"><a href="/index" class="fafa">back</a></button>
            {{ form_widget(form.submit) }}
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}